.git
.github
.idea
.vscode
__pycache__
*.pyc
.env
*.env
mobile/.dart_tool
mobile/.dart_tool_old
mobile/build
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/android/.gradle
mobile/ios/Pods
uploads
compressed
recordings

