# Python
venv

# IntelliJ / Android Studio
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# macOS
.DS_Store

# Build
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Dart/Flutter
.dart_tool/
build/

# Environment
.env
*.env
mobile/.env

# Secrets
backend/.env
